{% extends "base.html" %} {% block content %}
<div class="container">
  <h2>View Papers</h2>
  <form method="GET" class="my-3">
    <input
      type="text"
      name="q"
      placeholder="Search for papers"
      class="form-control"
    />
    <button type="submit" class="btn btn-primary my-2">Search</button>
  </form>
  <div class="row">
    {% for paper in papers %}
    <div class="col-md-6 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ paper.title }}</h5>
          <p class="card-text">{{ paper.abstract }}</p>
          {% if paper.pdf %}
          <a href="{{ paper.pdf.url }}" class="btn btn-primary" download
            >Download PDF</a
          >
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

<!-- Include Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Include Dropzone JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>
